<div class="banner">
	<div class="content-img-banner">
		<img class="img-logo" src="../../assets/banner/spider-man2logo.avif" alt="spider-man 2 logo">
		<img class="img-main" src="../../assets/banner/spider.avif" alt="spider-man 2 logo">
	</div>
	<div class="banner-content">
		<div class="title-content">
			<span class="title">Marvel's Spider-Man 2</span>
			<span class="description">Sejam Melhores. Juntos.</span>
		</div>
		<button>Já Disponivel</button>
	</div>
</div>

<div class="home__container">
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 129,99"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 269,99"
	>
	</app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 369,99"
		>
	</app-card>
	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
	>
	</app-card>
</div>

