<div class="home">
	<div class="banner">
		<div class="content-img-banner">
			<img class="img-logo" src="../../assets/banner/spider-man2logo.avif" alt="spider-man 2 logo">
			<img class="img-main" src="../../assets/banner/spider.avif" alt="spider-man 2 logo">
		</div>
		<div class="banner-content">
			<div class="title-content">
				<span class="title">Marvel's Spider-Man 2</span>
				<span class="description">Sejam Melhores. Juntos.</span>
			</div>
			<button>Já Disponivel</button>
		</div>
	</div>
	
	<div class="contain-games">
		<h2>Confirá nosso Jogos</h2>
		<div class="home__container">
			<app-card
				gameCover="assets/games/fifa.avif"
				gameName="Fifa 24"
				gameLabel="DIGITAL"
				gameType="DIGITAL | PS5"
				gamePrice="R$ 299,99"
			>
			</app-card>
			<app-card
				gameCover="assets/games/spidermengame.avif"
				gameName="Marvel's Spider-Man 2"
				gameLabel="DIGITAL"
				gameType="DIGITAL | PS5"
				gamePrice="R$ 299,99"
			>
			</app-card>
			<app-card
				gameCover="assets/games/callofdulty.avif"
				gameName="Call of Duty®"
				gameLabel="DIGITAL"
				gameType="DIGITAL | PS5"
				gamePrice="R$ 399,99"
			>
			</app-card>
			<app-card
				gameCover="assets/games/lords-of-king.avif"
				gameName="Lords of the Fallen"
				gameLabel="DIGITAL"
				gameType="DIGITAL | PS5"
				gamePrice="R$ 399,99"
			>
			</app-card>
			<app-card
				gameCover="assets/games/fortinite.avif"
				gameName="Fortnite"
				gameLabel="DIGITAL"
				gameType="DIGITAL | PS5 | PS4"
				gamePrice="GRATIS"
			>
			</app-card>
			<app-card
				gameCover="assets/games/potter.webp"
				gameName="Hogwarts Legacy"
				gameLabel="DIGITAL"
				gameType="DIGITAL | PS5"
				gamePrice="R$ 399,99"
			>
			</app-card>
			<app-card
				gameCover="assets/games/reddead.jpeg"
				gameName="Red Dead Redemption 2"
				gameLabel="DIGITAL"
				gameType="DIGITAL | PS5 | PS4"
				gamePrice="R$ 199,99"
			>
			</app-card>
			<app-card
				gameCover="assets/games/gta.webp"
				gameName="Grand Theft Auto V (PlayStation®5)"
				gameLabel="DIGITAL"
				gameType="DIGITAL | PS5 | PS4 | PS3"
				gamePrice="R$ 199,99"
			>
			</app-card>
		</div>
	</div>
	
	
</div>

